@import url('https://fonts.googleapis.com/css?family=Oswald:500');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

h1 {
  font-family: 'Oswald', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  body {
  }
}
